.pseudo {
    content: 'pseudo';
}

.pseudo:hover {
    content: 'pseudo:hover';
}

.pseudo-3:hover {
    content: 'pseudo:hover';
}

.no-pseudo {
    content: 'no-pseudo';
}

.pseudo-2:hover,
.no-pseudo-2 {
    content: 'shared no-pseudo/pseudo:hover';
}

.pseudo:after {
    content: 'pseudo:after';
}

.pseudo--double-colon::after {
    content: 'pseudo::after';
}

.pseudo--chained:selected:hover {
    content: 'pseudo:selected:hover';
}

.pseudo--chained--colon-crazy::selected:disabled::hover {
    content: 'pseudo::selected:disabled::hover';
}
