.class .descendant { content: '.class .descendant'; }
.class.shared { content: '.class.shared'; }
.class > .child { content: '.class > .child'; }
.class + .adjacent { content: '.class + .adjacent'; }
.class ~ .siblings { content: '.class ~ .siblings'; }
[attribute] { content: '[attribute]'; }
.class[attribute] { content: '.class[attribute]'; }
#id { content: '#id'; }
element { content: 'element'; }
* { content: 'universal'; }
element-2, element-3 { content: 'multiple element'; }
element-4, .b { content: 'class + element'; }
body { color: red; }

.a { content: '.class'; }
@media (min-width: 960px) {
    body, .c { color: blue; }
}
