.class .descendant { content: '.class .descendant' }
.class.shared { content: '.class.shared' }
.class > .child { content: '.class > .child' }
.class + .adjacent { content: '.class + .adjacent' }
.class ~ .siblings { content: '.class ~ .siblings' }
.class { content: '.class' }
[attribute] { content: '[attribute]' }
.class[attribute] { content: '.class[attribute]' }
#id { content: '#id' }
element { content: 'element' }
* { content: 'universal' }
element-2, element-3 { content: 'multiple element'; }
.class-2, element-4 { content: 'class + element'; }
body { color: red; }
@media (min-width: 960px) {
    body {
        color: blue;
    }
    .blue {
        color: blue;
    }
}
