@import 'vars';

// .nav {
//     width: 100%;
//     height: 16px;
//     margin-top: 1rem;
//     padding: 2rem; // should be expanded to longhand
//     transition: all;
//     font-family: "Helvetica Neue", Arial, Arial, sans-serif;
//     font-weight: normal;

//     &:hover {
//         height: 32px;
//     };
// }

.nav__item {
    font-family: "Helvetica Neue", Arial, Arial, sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 1rem;
}

// .nav__item--3 {
//     @extend .nav__item;
//     font: italic small-caps normal 13px/150% Arial, Helvetica, sans-serif;
//     color: $c-yellow;
//     margin-top: 16px; // should become 1rem
// }

.nav__item--4 {
    @extend .nav__item;
    color: $c-orange;
    // margin-top: 10px; // should not be merged
    // margin-right: 20px;
    // margin-bottom: 10px;
    // margin-left: 20px;
}