.pseudo-el {
    content: 'pseudo-el';
}

.pseudo-el:after {
    content: 'pseudo-el:after';
}

.pseudo-2-el::after {
    content: 'pseudo-el:after';
}

.pseudo-3-el:after {
    content: 'pseudo-el:after';
}

.no-pseudo-el {
    content: 'no-pseudo-el';
}

