.a { content: 'mq@root'; }
.b { color: hotpink; }
.c { color: red; }
.d { content: 'no-mq@root'; }
.e { color: blue; }
.f { color: green; }
@media (min-width: 10px) {
 .g { content: 'mq@10px'; }
 .h { color: blue; }
 .i { color: hotpink; }
}
@media (min-width: 100px) {
 .l { content: 'mq@100px'; }
 .m { color: orange; }
}
@media (min-width: 1000px) {
 .j { content: 'mq@1000px'; }
 .k { color: yellow; }
}
