.a { color: hotpink; }
.b { content: 'mq@root'; }
.c { color: red; }
.d { color: blue; }
.e { content: 'no-mq@root'; }
.f { color: green; }
@media (min-width: 10px) {
 .g { color: blue; }
 .h { content: 'mq@10px'; }
 .i { color: hotpink; }
}
@media (min-width: 100px) {
 .l { color: orange; }
 .m { content: 'mq@100px'; }
}
@media (min-width: 1000px) {
 .j { color: yellow; }
 .k { content: 'mq@1000px'; }
}
