.a { border-width: 1px; }
.b { border-style: solid; }
.c { border-color: hotpink; }
.d { border-width: 2px; }
.e { border-width: 3px; }
.f { border-width: 4px; }
.g { border-width: 5px; }
.h { border-width: 6px; }
.i { border-width: 7px; }
.j { border-width: 8px; }
.k { border-width: 9px; }
.l { border-width: 10px; }
.m { border-width: 11px; }
.n { border-width: 12px; }
.o { border-width: 13px; }
.p { border-width: 14px; }
.q { border-width: 15px; }
.r { border-width: 16px; }
.s { border-width: 17px; }
.t { border-width: 18px; }
.u { border-width: 19px; }
.v { border-width: 20px; }
.w { border-width: 21px; }
.x { border-width: 22px; }
.y { border-width: 23px; }
.z { border-width: 24px; }
.A { border-width: 25px; }
.B { border-width: 26px; }
.C { border-width: 27px; }
.D { border-width: 28px; }
.E { border-width: 29px; }
.F { border-width: 30px; }
.G { border-width: 31px; }
.H { border-width: 32px; }
.I { border-width: 33px; }
.J { border-width: 34px; }
.K { border-width: 35px; }
.L { border-width: 36px; }
.M { border-width: 37px; }
.N { border-width: 38px; }
.O { border-width: 39px; }
.P { border-width: 40px; }
.Q { border-width: 41px; }
.R { border-width: 42px; }
.S { border-width: 43px; }
.T { border-width: 44px; }
.U { border-width: 45px; }
.V { border-width: 46px; }
.W { border-width: 47px; }
.X { border-width: 48px; }
.Y { border-width: 49px; }
.Z { border-width: 50px; }
.aa { border-width: 51px; }
.ab { border-width: 52px; }
.ac { border-width: 53px; }
.ad { border-width: 54px; }
.ae { border-width: 55px; }
.af { border-width: 56px; }
.ag { border-width: 57px; }
.ah { border-width: 58px; }
.ai { border-width: 59px; }
.aj { border-width: 60px; }
.ak { border-width: 61px; }
.al { border-width: 62px; }
.am { border-width: 63px; }
.an { border-width: 64px; }
.ao { border-width: 65px; }
.ap { border-width: 66px; }
.aq { border-width: 67px; }
.ar { border-width: 68px; }
.as { border-width: 69px; }
.at { border-width: 70px; }
.au { border-width: 71px; }
.av { border-width: 72px; }
.aw { border-width: 73px; }
.ax { border-width: 74px; }
.ay { border-width: 75px; }
.az { border-width: 76px; }
.aA { border-width: 77px; }
.aB { border-width: 78px; }
.aC { border-width: 79px; }
.aD { border-width: 80px; }
.aE { border-width: 81px; }
.aF { border-width: 82px; }
.aG { border-width: 83px; }
.aH { border-width: 84px; }
.aI { border-width: 85px; }
.aJ { border-width: 86px; }
.aK { border-width: 87px; }
.aL { border-width: 88px; }
.aM { border-width: 89px; }
.aN { border-width: 90px; }
.aO { border-width: 91px; }
.aP { border-width: 92px; }
.aQ { border-width: 93px; }
.aR { border-width: 94px; }
.aS { border-width: 95px; }
.aT { border-width: 96px; }
.aU { border-width: 97px; }
.aV { border-width: 98px; }
.aW { border-width: 99px; }
.aX { border-width: 100px; }
.aY { border-width: 101px; }
.aZ { border-width: 102px; }
.ba { border-width: 103px; }
.bb { border-width: 104px; }
.bc { border-width: 105px; }
.bd { border-width: 106px; }
.be { border-width: 107px; }
.bf { border-width: 108px; }
.bg { border-width: 109px; }
.bh { border-width: 110px; }
.bi { border-width: 111px; }
.bj { border-width: 112px; }
.bk { border-width: 113px; }
.bl { border-width: 114px; }
.bm { border-width: 115px; }
.bn { border-width: 116px; }
.bo { border-width: 117px; }
.bp { border-width: 118px; }
.bq { border-width: 119px; }
.br { border-width: 120px; }
.bs { border-width: 121px; }
.bt { border-width: 122px; }
.bu { border-width: 123px; }
.bv { border-width: 124px; }
.bw { border-width: 125px; }
.bx { border-width: 126px; }
.by { border-width: 127px; }
.bz { border-width: 128px; }
.bA { border-width: 129px; }
.bB { border-width: 130px; }
.bC { border-width: 131px; }
.bD { border-width: 132px; }
.bE { border-width: 133px; }
.bF { border-width: 134px; }
.bG { border-width: 135px; }
.bH { border-width: 136px; }
.bI { border-width: 137px; }
.bJ { border-width: 138px; }
.bK { border-width: 139px; }
.bL { border-width: 140px; }
.bM { border-width: 141px; }
.bN { border-width: 142px; }
.bO { border-width: 143px; }
.bP { border-width: 144px; }
.bQ { border-width: 145px; }
.bR { border-width: 146px; }
.bS { border-width: 147px; }
.bT { border-width: 148px; }
.bU { border-width: 149px; }
.bV { border-width: 150px; }
.bW { border-width: 151px; }
.bX { border-width: 152px; }
.bY { border-width: 153px; }
.bZ { border-width: 154px; }
.ca { border-width: 155px; }
.cb { border-width: 156px; }
.cc { border-width: 157px; }
.cd { border-width: 158px; }
.ce { border-width: 159px; }
.cf { border-width: 160px; }
.cg { border-width: 161px; }
.ch { border-width: 162px; }
.ci { border-width: 163px; }
.cj { border-width: 164px; }
.ck { border-width: 165px; }
.cl { border-width: 166px; }
.cm { border-width: 167px; }
.cn { border-width: 168px; }
.co { border-width: 169px; }
.cp { border-width: 170px; }
.cq { border-width: 171px; }
.cr { border-width: 172px; }
.cs { border-width: 173px; }
.ct { border-width: 174px; }
.cu { border-width: 175px; }
.cv { border-width: 176px; }
.cw { border-width: 177px; }
.cx { border-width: 178px; }
.cy { border-width: 179px; }
.cz { border-width: 180px; }
.cA { border-width: 181px; }
.cB { border-width: 182px; }
.cC { border-width: 183px; }
.cD { border-width: 184px; }
.cE { border-width: 185px; }
.cF { border-width: 186px; }
.cG { border-width: 187px; }
.cH { border-width: 188px; }
.cI { border-width: 189px; }
.cJ { border-width: 190px; }
.cK { border-width: 191px; }
.cL { border-width: 192px; }
.cM { border-width: 193px; }
.cN { border-width: 194px; }
.cO { border-width: 195px; }
.cP { border-width: 196px; }
.cQ { border-width: 197px; }
.cR { border-width: 198px; }
.cS { border-width: 199px; }
.cT { border-width: 200px; }
.cU { border-width: 201px; }
.cV { border-width: 202px; }
.cW { border-width: 203px; }
.cX { border-width: 204px; }
.cY { border-width: 205px; }
.cZ { border-width: 206px; }
.da { border-width: 207px; }
.db { border-width: 208px; }
.dc { border-width: 209px; }
.dd { border-width: 210px; }
.de { border-width: 211px; }
.df { border-width: 212px; }
.dg { border-width: 213px; }
.dh { border-width: 214px; }
.di { border-width: 215px; }
.dj { border-width: 216px; }
.dk { border-width: 217px; }
.dl { border-width: 218px; }
.dm { border-width: 219px; }
.dn { border-width: 220px; }
.do { border-width: 221px; }
.dp { border-width: 222px; }
.dq { border-width: 223px; }
.dr { border-width: 224px; }
.ds { border-width: 225px; }
.dt { border-width: 226px; }
.du { border-width: 227px; }
.dv { border-width: 228px; }
.dw { border-width: 229px; }
.dx { border-width: 230px; }
.dy { border-width: 231px; }
.dz { border-width: 232px; }
.dA { border-width: 233px; }
.dB { border-width: 234px; }
.dC { border-width: 235px; }
.dD { border-width: 236px; }
.dE { border-width: 237px; }
.dF { border-width: 238px; }
.dG { border-width: 239px; }
.dH { border-width: 240px; }
.dI { border-width: 241px; }
.dJ { border-width: 242px; }
.dK { border-width: 243px; }
.dL { border-width: 244px; }
.dM { border-width: 245px; }
.dN { border-width: 246px; }
.dO { border-width: 247px; }
.dP { border-width: 248px; }
.dQ { border-width: 249px; }
.dR { border-width: 250px; }
.dS { border-width: 251px; }
.dT { border-width: 252px; }
.dU { border-width: 253px; }
.dV { border-width: 254px; }
.dW { border-width: 255px; }
.dX { border-width: 256px; }
.dY { border-width: 257px; }
.dZ { border-width: 258px; }
.ea { border-width: 259px; }
.eb { border-width: 260px; }
.ec { border-width: 261px; }
.ed { border-width: 262px; }
.ee { border-width: 263px; }
.ef { border-width: 264px; }
.eg { border-width: 265px; }
.eh { border-width: 266px; }
.ei { border-width: 267px; }
.ej { border-width: 268px; }
.ek { border-width: 269px; }
.el { border-width: 270px; }
.em { border-width: 271px; }
.en { border-width: 272px; }
.eo { border-width: 273px; }
.ep { border-width: 274px; }
.eq { border-width: 275px; }
.er { border-width: 276px; }
.es { border-width: 277px; }
.et { border-width: 278px; }
.eu { border-width: 279px; }
.ev { border-width: 280px; }
.ew { border-width: 281px; }
.ex { border-width: 282px; }
.ey { border-width: 283px; }
.ez { border-width: 284px; }
.eA { border-width: 285px; }
.eB { border-width: 286px; }
.eC { border-width: 287px; }
.eD { border-width: 288px; }
.eE { border-width: 289px; }
.eF { border-width: 290px; }
.eG { border-width: 291px; }
.eH { border-width: 292px; }
.eI { border-width: 293px; }
.eJ { border-width: 294px; }
.eK { border-width: 295px; }
.eL { border-width: 296px; }
.eM { border-width: 297px; }
.eN { border-width: 298px; }
.eO { border-width: 299px; }
.eP { border-width: 300px; }
.eQ { border-width: 301px; }
.eR { border-width: 302px; }
.eS { border-width: 303px; }
.eT { border-width: 304px; }
.eU { border-width: 305px; }
.eV { border-width: 306px; }
.eW { border-width: 307px; }
.eX { border-width: 308px; }
.eY { border-width: 309px; }
.eZ { border-width: 310px; }
.fa { border-width: 311px; }
.fb { border-width: 312px; }
.fc { border-width: 313px; }
.fd { border-width: 314px; }
.fe { border-width: 315px; }
.ff { border-width: 316px; }
.fg { border-width: 317px; }
.fh { border-width: 318px; }
.fi { border-width: 319px; }
.fj { border-width: 320px; }
.fk { border-width: 321px; }
.fl { border-width: 322px; }
.fm { border-width: 323px; }
.fn { border-width: 324px; }
.fo { border-width: 325px; }
.fp { border-width: 326px; }
.fq { border-width: 327px; }
.fr { border-width: 328px; }
.fs { border-width: 329px; }
.ft { border-width: 330px; }
.fu { border-width: 331px; }
.fv { border-width: 332px; }
.fw { border-width: 333px; }
.fx { border-width: 334px; }
.fy { border-width: 335px; }
.fz { border-width: 336px; }
.fA { border-width: 337px; }
.fB { border-width: 338px; }
.fC { border-width: 339px; }
.fD { border-width: 340px; }
.fE { border-width: 341px; }
.fF { border-width: 342px; }
.fG { border-width: 343px; }
.fH { border-width: 344px; }
.fI { border-width: 345px; }
.fJ { border-width: 346px; }
.fK { border-width: 347px; }
.fL { border-width: 348px; }
.fM { border-width: 349px; }
.fN { border-width: 350px; }
.fO { border-width: 351px; }
.fP { border-width: 352px; }
.fQ { border-width: 353px; }
.fR { border-width: 354px; }
.fS { border-width: 355px; }
.fT { border-width: 356px; }
.fU { border-width: 357px; }
.fV { border-width: 358px; }
.fW { border-width: 359px; }
.fX { border-width: 360px; }
.fY { border-width: 361px; }
.fZ { border-width: 362px; }
.ga { border-width: 363px; }
.gb { border-width: 364px; }
.gc { border-width: 365px; }
.gd { border-width: 366px; }
.ge { border-width: 367px; }
.gf { border-width: 368px; }
.gg { border-width: 369px; }
.gh { border-width: 370px; }
.gi { border-width: 371px; }
.gj { border-width: 372px; }
.gk { border-width: 373px; }
.gl { border-width: 374px; }
.gm { border-width: 375px; }
.gn { border-width: 376px; }
.go { border-width: 377px; }
.gp { border-width: 378px; }
.gq { border-width: 379px; }
.gr { border-width: 380px; }
.gs { border-width: 381px; }
.gt { border-width: 382px; }
.gu { border-width: 383px; }
.gv { border-width: 384px; }
.gw { border-width: 385px; }
.gx { border-width: 386px; }
.gy { border-width: 387px; }
.gz { border-width: 388px; }
.gA { border-width: 389px; }
.gB { border-width: 390px; }
.gC { border-width: 391px; }
.gD { border-width: 392px; }
.gE { border-width: 393px; }
.gF { border-width: 394px; }
.gG { border-width: 395px; }
.gH { border-width: 396px; }
.gI { border-width: 397px; }
.gJ { border-width: 398px; }
.gK { border-width: 399px; }
.gL { border-width: 400px; }
.gM { border-width: 401px; }
.gN { border-width: 402px; }
.gO { border-width: 403px; }
.gP { border-width: 404px; }
.gQ { border-width: 405px; }
.gR { border-width: 406px; }
.gS { border-width: 407px; }
.gT { border-width: 408px; }
.gU { border-width: 409px; }
.gV { border-width: 410px; }
.gW { border-width: 411px; }
.gX { border-width: 412px; }
.gY { border-width: 413px; }
.gZ { border-width: 414px; }
.ha { border-width: 415px; }
.hb { border-width: 416px; }
.hc { border-width: 417px; }
.hd { border-width: 418px; }
.he { border-width: 419px; }
.hf { border-width: 420px; }
.hg { border-width: 421px; }
.hh { border-width: 422px; }
.hi { border-width: 423px; }
.hj { border-width: 424px; }
.hk { border-width: 425px; }
.hl { border-width: 426px; }
.hm { border-width: 427px; }
.hn { border-width: 428px; }
.ho { border-width: 429px; }
.hp { border-width: 430px; }
.hq { border-width: 431px; }
.hr { border-width: 432px; }
.hs { border-width: 433px; }
.ht { border-width: 434px; }
.hu { border-width: 435px; }
.hv { border-width: 436px; }
.hw { border-width: 437px; }
.hx { border-width: 438px; }
.hy { border-width: 439px; }
.hz { border-width: 440px; }
.hA { border-width: 441px; }
.hB { border-width: 442px; }
.hC { border-width: 443px; }
.hD { border-width: 444px; }
.hE { border-width: 445px; }
.hF { border-width: 446px; }
.hG { border-width: 447px; }
.hH { border-width: 448px; }
.hI { border-width: 449px; }
.hJ { border-width: 450px; }
.hK { border-width: 451px; }
.hL { border-width: 452px; }
.hM { border-width: 453px; }
.hN { border-width: 454px; }
.hO { border-width: 455px; }
.hP { border-width: 456px; }
.hQ { border-width: 457px; }
.hR { border-width: 458px; }
.hS { border-width: 459px; }
.hT { border-width: 460px; }
.hU { border-width: 461px; }
.hV { border-width: 462px; }
.hW { border-width: 463px; }
.hX { border-width: 464px; }
.hY { border-width: 465px; }
.hZ { border-width: 466px; }
.ia { border-width: 467px; }
.ib { border-width: 468px; }
.ic { border-width: 469px; }
.id { border-width: 470px; }
.ie { border-width: 471px; }
.if { border-width: 472px; }
.ig { border-width: 473px; }
.ih { border-width: 474px; }
.ii { border-width: 475px; }
.ij { border-width: 476px; }
.ik { border-width: 477px; }
.il { border-width: 478px; }
.im { border-width: 479px; }
.in { border-width: 480px; }
.io { border-width: 481px; }
.ip { border-width: 482px; }
.iq { border-width: 483px; }
.ir { border-width: 484px; }
.is { border-width: 485px; }
.it { border-width: 486px; }
.iu { border-width: 487px; }
.iv { border-width: 488px; }
.iw { border-width: 489px; }
.ix { border-width: 490px; }
.iy { border-width: 491px; }
.iz { border-width: 492px; }
.iA { border-width: 493px; }
.iB { border-width: 494px; }
.iC { border-width: 495px; }
.iD { border-width: 496px; }
.iE { border-width: 497px; }
.iF { border-width: 498px; }
.iG { border-width: 499px; }
.iH { border-width: 500px; }
