.a { border: 1px solid hotpink; }
.b { border: 2px solid hotpink; }
.c { border: 3px solid hotpink; }
.d { border: 4px solid hotpink; }
.e { border: 5px solid hotpink; }
.f { border: 6px solid hotpink; }
.g { border: 7px solid hotpink; }
.h { border: 8px solid hotpink; }
.i { border: 9px solid hotpink; }
.j { border: 10px solid hotpink; }
.k { border: 11px solid hotpink; }
.l { border: 12px solid hotpink; }
.m { border: 13px solid hotpink; }
.n { border: 14px solid hotpink; }
.o { border: 15px solid hotpink; }
.p { border: 16px solid hotpink; }
.q { border: 17px solid hotpink; }
.r { border: 18px solid hotpink; }
.s { border: 19px solid hotpink; }
.t { border: 20px solid hotpink; }
.u { border: 21px solid hotpink; }
.v { border: 22px solid hotpink; }
.w { border: 23px solid hotpink; }
.x { border: 24px solid hotpink; }
.y { border: 25px solid hotpink; }
.z { border: 26px solid hotpink; }
.A { border: 27px solid hotpink; }
.B { border: 28px solid hotpink; }
.C { border: 29px solid hotpink; }
.D { border: 30px solid hotpink; }
.E { border: 31px solid hotpink; }
.F { border: 32px solid hotpink; }
.G { border: 33px solid hotpink; }
.H { border: 34px solid hotpink; }
.I { border: 35px solid hotpink; }
.J { border: 36px solid hotpink; }
.K { border: 37px solid hotpink; }
.L { border: 38px solid hotpink; }
.M { border: 39px solid hotpink; }
.N { border: 40px solid hotpink; }
.O { border: 41px solid hotpink; }
.P { border: 42px solid hotpink; }
.Q { border: 43px solid hotpink; }
.R { border: 44px solid hotpink; }
.S { border: 45px solid hotpink; }
.T { border: 46px solid hotpink; }
.U { border: 47px solid hotpink; }
.V { border: 48px solid hotpink; }
.W { border: 49px solid hotpink; }
.X { border: 50px solid hotpink; }
.Y { border: 51px solid hotpink; }
.Z { border: 52px solid hotpink; }
.aa { border: 53px solid hotpink; }
.ab { border: 54px solid hotpink; }
.ac { border: 55px solid hotpink; }
.ad { border: 56px solid hotpink; }
.ae { border: 57px solid hotpink; }
.af { border: 58px solid hotpink; }
.ag { border: 59px solid hotpink; }
.ah { border: 60px solid hotpink; }
.ai { border: 61px solid hotpink; }
.aj { border: 62px solid hotpink; }
.ak { border: 63px solid hotpink; }
.al { border: 64px solid hotpink; }
.am { border: 65px solid hotpink; }
.an { border: 66px solid hotpink; }
.ao { border: 67px solid hotpink; }
.ap { border: 68px solid hotpink; }
.aq { border: 69px solid hotpink; }
.ar { border: 70px solid hotpink; }
.as { border: 71px solid hotpink; }
.at { border: 72px solid hotpink; }
.au { border: 73px solid hotpink; }
.av { border: 74px solid hotpink; }
.aw { border: 75px solid hotpink; }
.ax { border: 76px solid hotpink; }
.ay { border: 77px solid hotpink; }
.az { border: 78px solid hotpink; }
.aA { border: 79px solid hotpink; }
.aB { border: 80px solid hotpink; }
.aC { border: 81px solid hotpink; }
.aD { border: 82px solid hotpink; }
.aE { border: 83px solid hotpink; }
.aF { border: 84px solid hotpink; }
.aG { border: 85px solid hotpink; }
.aH { border: 86px solid hotpink; }
.aI { border: 87px solid hotpink; }
.aJ { border: 88px solid hotpink; }
.aK { border: 89px solid hotpink; }
.aL { border: 90px solid hotpink; }
.aM { border: 91px solid hotpink; }
.aN { border: 92px solid hotpink; }
.aO { border: 93px solid hotpink; }
.aP { border: 94px solid hotpink; }
.aQ { border: 95px solid hotpink; }
.aR { border: 96px solid hotpink; }
.aS { border: 97px solid hotpink; }
.aT { border: 98px solid hotpink; }
.aU { border: 99px solid hotpink; }
.aV { border: 100px solid hotpink; }
.aW { border: 101px solid hotpink; }
.aX { border: 102px solid hotpink; }
.aY { border: 103px solid hotpink; }
.aZ { border: 104px solid hotpink; }
.ba { border: 105px solid hotpink; }
.bb { border: 106px solid hotpink; }
.bc { border: 107px solid hotpink; }
.bd { border: 108px solid hotpink; }
.be { border: 109px solid hotpink; }
.bf { border: 110px solid hotpink; }
.bg { border: 111px solid hotpink; }
.bh { border: 112px solid hotpink; }
.bi { border: 113px solid hotpink; }
.bj { border: 114px solid hotpink; }
.bk { border: 115px solid hotpink; }
.bl { border: 116px solid hotpink; }
.bm { border: 117px solid hotpink; }
.bn { border: 118px solid hotpink; }
.bo { border: 119px solid hotpink; }
.bp { border: 120px solid hotpink; }
.bq { border: 121px solid hotpink; }
.br { border: 122px solid hotpink; }
.bs { border: 123px solid hotpink; }
.bt { border: 124px solid hotpink; }
.bu { border: 125px solid hotpink; }
.bv { border: 126px solid hotpink; }
.bw { border: 127px solid hotpink; }
.bx { border: 128px solid hotpink; }
.by { border: 129px solid hotpink; }
.bz { border: 130px solid hotpink; }
.bA { border: 131px solid hotpink; }
.bB { border: 132px solid hotpink; }
.bC { border: 133px solid hotpink; }
.bD { border: 134px solid hotpink; }
.bE { border: 135px solid hotpink; }
.bF { border: 136px solid hotpink; }
.bG { border: 137px solid hotpink; }
.bH { border: 138px solid hotpink; }
.bI { border: 139px solid hotpink; }
.bJ { border: 140px solid hotpink; }
.bK { border: 141px solid hotpink; }
.bL { border: 142px solid hotpink; }
.bM { border: 143px solid hotpink; }
.bN { border: 144px solid hotpink; }
.bO { border: 145px solid hotpink; }
.bP { border: 146px solid hotpink; }
.bQ { border: 147px solid hotpink; }
.bR { border: 148px solid hotpink; }
.bS { border: 149px solid hotpink; }
.bT { border: 150px solid hotpink; }
.bU { border: 151px solid hotpink; }
.bV { border: 152px solid hotpink; }
.bW { border: 153px solid hotpink; }
.bX { border: 154px solid hotpink; }
.bY { border: 155px solid hotpink; }
.bZ { border: 156px solid hotpink; }
.ca { border: 157px solid hotpink; }
.cb { border: 158px solid hotpink; }
.cc { border: 159px solid hotpink; }
.cd { border: 160px solid hotpink; }
.ce { border: 161px solid hotpink; }
.cf { border: 162px solid hotpink; }
.cg { border: 163px solid hotpink; }
.ch { border: 164px solid hotpink; }
.ci { border: 165px solid hotpink; }
.cj { border: 166px solid hotpink; }
.ck { border: 167px solid hotpink; }
.cl { border: 168px solid hotpink; }
.cm { border: 169px solid hotpink; }
.cn { border: 170px solid hotpink; }
.co { border: 171px solid hotpink; }
.cp { border: 172px solid hotpink; }
.cq { border: 173px solid hotpink; }
.cr { border: 174px solid hotpink; }
.cs { border: 175px solid hotpink; }
.ct { border: 176px solid hotpink; }
.cu { border: 177px solid hotpink; }
.cv { border: 178px solid hotpink; }
.cw { border: 179px solid hotpink; }
.cx { border: 180px solid hotpink; }
.cy { border: 181px solid hotpink; }
.cz { border: 182px solid hotpink; }
.cA { border: 183px solid hotpink; }
.cB { border: 184px solid hotpink; }
.cC { border: 185px solid hotpink; }
.cD { border: 186px solid hotpink; }
.cE { border: 187px solid hotpink; }
.cF { border: 188px solid hotpink; }
.cG { border: 189px solid hotpink; }
.cH { border: 190px solid hotpink; }
.cI { border: 191px solid hotpink; }
.cJ { border: 192px solid hotpink; }
.cK { border: 193px solid hotpink; }
.cL { border: 194px solid hotpink; }
.cM { border: 195px solid hotpink; }
.cN { border: 196px solid hotpink; }
.cO { border: 197px solid hotpink; }
.cP { border: 198px solid hotpink; }
.cQ { border: 199px solid hotpink; }
.cR { border: 200px solid hotpink; }
.cS { border: 201px solid hotpink; }
.cT { border: 202px solid hotpink; }
.cU { border: 203px solid hotpink; }
.cV { border: 204px solid hotpink; }
.cW { border: 205px solid hotpink; }
.cX { border: 206px solid hotpink; }
.cY { border: 207px solid hotpink; }
.cZ { border: 208px solid hotpink; }
.da { border: 209px solid hotpink; }
.db { border: 210px solid hotpink; }
.dc { border: 211px solid hotpink; }
.dd { border: 212px solid hotpink; }
.de { border: 213px solid hotpink; }
.df { border: 214px solid hotpink; }
.dg { border: 215px solid hotpink; }
.dh { border: 216px solid hotpink; }
.di { border: 217px solid hotpink; }
.dj { border: 218px solid hotpink; }
.dk { border: 219px solid hotpink; }
.dl { border: 220px solid hotpink; }
.dm { border: 221px solid hotpink; }
.dn { border: 222px solid hotpink; }
.do { border: 223px solid hotpink; }
.dp { border: 224px solid hotpink; }
.dq { border: 225px solid hotpink; }
.dr { border: 226px solid hotpink; }
.ds { border: 227px solid hotpink; }
.dt { border: 228px solid hotpink; }
.du { border: 229px solid hotpink; }
.dv { border: 230px solid hotpink; }
.dw { border: 231px solid hotpink; }
.dx { border: 232px solid hotpink; }
.dy { border: 233px solid hotpink; }
.dz { border: 234px solid hotpink; }
.dA { border: 235px solid hotpink; }
.dB { border: 236px solid hotpink; }
.dC { border: 237px solid hotpink; }
.dD { border: 238px solid hotpink; }
.dE { border: 239px solid hotpink; }
.dF { border: 240px solid hotpink; }
.dG { border: 241px solid hotpink; }
.dH { border: 242px solid hotpink; }
.dI { border: 243px solid hotpink; }
.dJ { border: 244px solid hotpink; }
.dK { border: 245px solid hotpink; }
.dL { border: 246px solid hotpink; }
.dM { border: 247px solid hotpink; }
.dN { border: 248px solid hotpink; }
.dO { border: 249px solid hotpink; }
.dP { border: 250px solid hotpink; }
.dQ { border: 251px solid hotpink; }
.dR { border: 252px solid hotpink; }
.dS { border: 253px solid hotpink; }
.dT { border: 254px solid hotpink; }
.dU { border: 255px solid hotpink; }
.dV { border: 256px solid hotpink; }
.dW { border: 257px solid hotpink; }
.dX { border: 258px solid hotpink; }
.dY { border: 259px solid hotpink; }
.dZ { border: 260px solid hotpink; }
.ea { border: 261px solid hotpink; }
.eb { border: 262px solid hotpink; }
.ec { border: 263px solid hotpink; }
.ed { border: 264px solid hotpink; }
.ee { border: 265px solid hotpink; }
.ef { border: 266px solid hotpink; }
.eg { border: 267px solid hotpink; }
.eh { border: 268px solid hotpink; }
.ei { border: 269px solid hotpink; }
.ej { border: 270px solid hotpink; }
.ek { border: 271px solid hotpink; }
.el { border: 272px solid hotpink; }
.em { border: 273px solid hotpink; }
.en { border: 274px solid hotpink; }
.eo { border: 275px solid hotpink; }
.ep { border: 276px solid hotpink; }
.eq { border: 277px solid hotpink; }
.er { border: 278px solid hotpink; }
.es { border: 279px solid hotpink; }
.et { border: 280px solid hotpink; }
.eu { border: 281px solid hotpink; }
.ev { border: 282px solid hotpink; }
.ew { border: 283px solid hotpink; }
.ex { border: 284px solid hotpink; }
.ey { border: 285px solid hotpink; }
.ez { border: 286px solid hotpink; }
.eA { border: 287px solid hotpink; }
.eB { border: 288px solid hotpink; }
.eC { border: 289px solid hotpink; }
.eD { border: 290px solid hotpink; }
.eE { border: 291px solid hotpink; }
.eF { border: 292px solid hotpink; }
.eG { border: 293px solid hotpink; }
.eH { border: 294px solid hotpink; }
.eI { border: 295px solid hotpink; }
.eJ { border: 296px solid hotpink; }
.eK { border: 297px solid hotpink; }
.eL { border: 298px solid hotpink; }
.eM { border: 299px solid hotpink; }
.eN { border: 300px solid hotpink; }
.eO { border: 301px solid hotpink; }
.eP { border: 302px solid hotpink; }
.eQ { border: 303px solid hotpink; }
.eR { border: 304px solid hotpink; }
.eS { border: 305px solid hotpink; }
.eT { border: 306px solid hotpink; }
.eU { border: 307px solid hotpink; }
.eV { border: 308px solid hotpink; }
.eW { border: 309px solid hotpink; }
.eX { border: 310px solid hotpink; }
.eY { border: 311px solid hotpink; }
.eZ { border: 312px solid hotpink; }
.fa { border: 313px solid hotpink; }
.fb { border: 314px solid hotpink; }
.fc { border: 315px solid hotpink; }
.fd { border: 316px solid hotpink; }
.fe { border: 317px solid hotpink; }
.ff { border: 318px solid hotpink; }
.fg { border: 319px solid hotpink; }
.fh { border: 320px solid hotpink; }
.fi { border: 321px solid hotpink; }
.fj { border: 322px solid hotpink; }
.fk { border: 323px solid hotpink; }
.fl { border: 324px solid hotpink; }
.fm { border: 325px solid hotpink; }
.fn { border: 326px solid hotpink; }
.fo { border: 327px solid hotpink; }
.fp { border: 328px solid hotpink; }
.fq { border: 329px solid hotpink; }
.fr { border: 330px solid hotpink; }
.fs { border: 331px solid hotpink; }
.ft { border: 332px solid hotpink; }
.fu { border: 333px solid hotpink; }
.fv { border: 334px solid hotpink; }
.fw { border: 335px solid hotpink; }
.fx { border: 336px solid hotpink; }
.fy { border: 337px solid hotpink; }
.fz { border: 338px solid hotpink; }
.fA { border: 339px solid hotpink; }
.fB { border: 340px solid hotpink; }
.fC { border: 341px solid hotpink; }
.fD { border: 342px solid hotpink; }
.fE { border: 343px solid hotpink; }
.fF { border: 344px solid hotpink; }
.fG { border: 345px solid hotpink; }
.fH { border: 346px solid hotpink; }
.fI { border: 347px solid hotpink; }
.fJ { border: 348px solid hotpink; }
.fK { border: 349px solid hotpink; }
.fL { border: 350px solid hotpink; }
.fM { border: 351px solid hotpink; }
.fN { border: 352px solid hotpink; }
.fO { border: 353px solid hotpink; }
.fP { border: 354px solid hotpink; }
.fQ { border: 355px solid hotpink; }
.fR { border: 356px solid hotpink; }
.fS { border: 357px solid hotpink; }
.fT { border: 358px solid hotpink; }
.fU { border: 359px solid hotpink; }
.fV { border: 360px solid hotpink; }
.fW { border: 361px solid hotpink; }
.fX { border: 362px solid hotpink; }
.fY { border: 363px solid hotpink; }
.fZ { border: 364px solid hotpink; }
.ga { border: 365px solid hotpink; }
.gb { border: 366px solid hotpink; }
.gc { border: 367px solid hotpink; }
.gd { border: 368px solid hotpink; }
.ge { border: 369px solid hotpink; }
.gf { border: 370px solid hotpink; }
.gg { border: 371px solid hotpink; }
.gh { border: 372px solid hotpink; }
.gi { border: 373px solid hotpink; }
.gj { border: 374px solid hotpink; }
.gk { border: 375px solid hotpink; }
.gl { border: 376px solid hotpink; }
.gm { border: 377px solid hotpink; }
.gn { border: 378px solid hotpink; }
.go { border: 379px solid hotpink; }
.gp { border: 380px solid hotpink; }
.gq { border: 381px solid hotpink; }
.gr { border: 382px solid hotpink; }
.gs { border: 383px solid hotpink; }
.gt { border: 384px solid hotpink; }
.gu { border: 385px solid hotpink; }
.gv { border: 386px solid hotpink; }
.gw { border: 387px solid hotpink; }
.gx { border: 388px solid hotpink; }
.gy { border: 389px solid hotpink; }
.gz { border: 390px solid hotpink; }
.gA { border: 391px solid hotpink; }
.gB { border: 392px solid hotpink; }
.gC { border: 393px solid hotpink; }
.gD { border: 394px solid hotpink; }
.gE { border: 395px solid hotpink; }
.gF { border: 396px solid hotpink; }
.gG { border: 397px solid hotpink; }
.gH { border: 398px solid hotpink; }
.gI { border: 399px solid hotpink; }
.gJ { border: 400px solid hotpink; }
.gK { border: 401px solid hotpink; }
.gL { border: 402px solid hotpink; }
.gM { border: 403px solid hotpink; }
.gN { border: 404px solid hotpink; }
.gO { border: 405px solid hotpink; }
.gP { border: 406px solid hotpink; }
.gQ { border: 407px solid hotpink; }
.gR { border: 408px solid hotpink; }
.gS { border: 409px solid hotpink; }
.gT { border: 410px solid hotpink; }
.gU { border: 411px solid hotpink; }
.gV { border: 412px solid hotpink; }
.gW { border: 413px solid hotpink; }
.gX { border: 414px solid hotpink; }
.gY { border: 415px solid hotpink; }
.gZ { border: 416px solid hotpink; }
.ha { border: 417px solid hotpink; }
.hb { border: 418px solid hotpink; }
.hc { border: 419px solid hotpink; }
.hd { border: 420px solid hotpink; }
.he { border: 421px solid hotpink; }
.hf { border: 422px solid hotpink; }
.hg { border: 423px solid hotpink; }
.hh { border: 424px solid hotpink; }
.hi { border: 425px solid hotpink; }
.hj { border: 426px solid hotpink; }
.hk { border: 427px solid hotpink; }
.hl { border: 428px solid hotpink; }
.hm { border: 429px solid hotpink; }
.hn { border: 430px solid hotpink; }
.ho { border: 431px solid hotpink; }
.hp { border: 432px solid hotpink; }
.hq { border: 433px solid hotpink; }
.hr { border: 434px solid hotpink; }
.hs { border: 435px solid hotpink; }
.ht { border: 436px solid hotpink; }
.hu { border: 437px solid hotpink; }
.hv { border: 438px solid hotpink; }
.hw { border: 439px solid hotpink; }
.hx { border: 440px solid hotpink; }
.hy { border: 441px solid hotpink; }
.hz { border: 442px solid hotpink; }
.hA { border: 443px solid hotpink; }
.hB { border: 444px solid hotpink; }
.hC { border: 445px solid hotpink; }
.hD { border: 446px solid hotpink; }
.hE { border: 447px solid hotpink; }
.hF { border: 448px solid hotpink; }
.hG { border: 449px solid hotpink; }
.hH { border: 450px solid hotpink; }
.hI { border: 451px solid hotpink; }
.hJ { border: 452px solid hotpink; }
.hK { border: 453px solid hotpink; }
.hL { border: 454px solid hotpink; }
.hM { border: 455px solid hotpink; }
.hN { border: 456px solid hotpink; }
.hO { border: 457px solid hotpink; }
.hP { border: 458px solid hotpink; }
.hQ { border: 459px solid hotpink; }
.hR { border: 460px solid hotpink; }
.hS { border: 461px solid hotpink; }
.hT { border: 462px solid hotpink; }
.hU { border: 463px solid hotpink; }
.hV { border: 464px solid hotpink; }
.hW { border: 465px solid hotpink; }
.hX { border: 466px solid hotpink; }
.hY { border: 467px solid hotpink; }
.hZ { border: 468px solid hotpink; }
.ia { border: 469px solid hotpink; }
.ib { border: 470px solid hotpink; }
.ic { border: 471px solid hotpink; }
.id { border: 472px solid hotpink; }
.ie { border: 473px solid hotpink; }
.if { border: 474px solid hotpink; }
.ig { border: 475px solid hotpink; }
.ih { border: 476px solid hotpink; }
.ii { border: 477px solid hotpink; }
.ij { border: 478px solid hotpink; }
.ik { border: 479px solid hotpink; }
.il { border: 480px solid hotpink; }
.im { border: 481px solid hotpink; }
.in { border: 482px solid hotpink; }
.io { border: 483px solid hotpink; }
.ip { border: 484px solid hotpink; }
.iq { border: 485px solid hotpink; }
.ir { border: 486px solid hotpink; }
.is { border: 487px solid hotpink; }
.it { border: 488px solid hotpink; }
.iu { border: 489px solid hotpink; }
.iv { border: 490px solid hotpink; }
.iw { border: 491px solid hotpink; }
.ix { border: 492px solid hotpink; }
.iy { border: 493px solid hotpink; }
.iz { border: 494px solid hotpink; }
.iA { border: 495px solid hotpink; }
.iB { border: 496px solid hotpink; }
.iC { border: 497px solid hotpink; }
.iD { border: 498px solid hotpink; }
.iE { border: 499px solid hotpink; }
.iF { border: 500px solid hotpink; }
